@import 'bourbon/bourbon';
@import 'bootstrap';

@include font-face('altis', '/static/fonts/altis-extrabold-webfont');

a.btn {
  &:active {
    outline: 0;
  }
  text-decoration: none!important;
}

.title {
  font-family: 'altis';
}

.welcome {
  text-align: center;
  padding: 10em 0;
}

.auth-form {
  margin-top: 2em;
  input[type="submit"] {
    width: 100%;
  }
  .title {
    @extend h4;
    border-bottom: 1px solid #DDD;
    padding-bottom: 10px;
    margin-bottom: 15px;
    margin-top: 0;
  }
}

ul.posts {
  margin-top: 2em;
  padding-left: 0;
  li {
    .user {
      font-weight: bold
    }
    .time {
      font-style: italic;
      font-size: 0.8em;
      margin-top: 1em;
      color: #999;
    }
    padding: 20px 0;
    list-style: none;
    border-top: 1px solid #eee;
  }
}

.error-page {
  text-align: center;
  padding: 15em 0;
  h1 {
    font-size: 3em;
  }
  .action {
    margin-top: 5em;
  }
}

.new-post {
  h3 {
    margin-bottom: 1em;
  }
  .action {
    margin-top: 10px;
  }
  .char-left {
    color: #999;
    @include inline-block;
    margin-right: 5px;
  }
}