{% extends "base.html" %}

{% block content %}

<div class="new-post">
  <h3 class="title">Write a new post</h3>

  <form action="{{url_for('new_post')}}" method=post>
    {{ form.csrf_token }}
    <div class="form-group">
      {{ form.post(autofocus="autofocus", class="form-control", maxlength=200, id="new_post_field") }}
    </div>
    <div class="action">
      <div class="pull-right">
        <div class="char-left">
          <span class="charsRemaining">200</span>
        </div>
        {{ form.submit(class="btn btn-success disabled", id="submit") }}
      </div>
    </div>
  </form>
</div>

{% endblock %}

